-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCvVGRgL6/+wNV/
H0Zp15nfFrb9pN/upxegRJMONXbBZy0ewZAZMQBCa7w+Z+3+X7Ayj7wzQ20sJBB+
FfGmeCb8TM4mPLVrb6GoolLLTVNLT4F6rlKVTc3yvzDjgUaMe6RHzbqDPUO5pfIn
P3g6TUP4j+MDaTGrFlCwubWAy5r3N2w7wH5fp+p3sAMALgKTB2nC3WvW+IUy3LUL
8uybbhQbYD2jil0dbwcm1aQYK+1BGg1RZKGsGDUFt9aVBd8u2lj2U0bHGyHvxyZE
m6DEhGzDFfnYAR/nylXzHQbl0zEmcAmat/5OZOWsQAkLDrAz1YkzZFmDx+S3fdaW
mFqT1Y6pAgMBAAECggEAH559l6ch+zR1jD5sqWvbcRMcnzObuuNhbGLRjm9v4kMk
LPbFcPWYUWIyiaKelhBVq1imnSwcxSgf3U1Bzj6+8SM8zkKGiUCRi+LyQX3Jdrx4
4lILzKdCa/O08mJ/AZjOsLBWYZKr4xAdUpyspv8GMg5o51WSQoN8u9JR/E87vDdz
C+uc7Qsh6ua8qE/A7tRF60HROfWLa6WMPFMDdt1+fTou4jTItLyMAP2sAona9sCK
vqZz2z1nVP53qeQbHMks5n2kVM0hQtvKGLWhhwG49hdh4OdQceZHcf3lcWImGyej
bmbZQFGGG1UYV2MaFb51FP4XXGGJbigMNKvNlPAmHQKBgQDdvJcnRtcEj6ZVmmfh
/ZqycMueF2usaGZx84GR8BG/I3jNizGfQa+tx+lNJGIya7BI7DSSH2UT2kasc3Zf
5EvNBQOhzWKGeLoS9uzg487KJZMm0Xo8mlC4EkhyaboHren/Fa7QGZvrNt2K4c/4
1F2pySv53fEK9CzPmVcDewT59wKBgQDKbAsE/b1cjzIgTZIdwVjFzLbi1AuofB5I
FH7JuRgSzZDWsLXnQtgA/Ha0N0MO+EDRpaTMIOnqxdFHD6cVvoS4RCuxT+V8S+c2
8e/EkG6XSoYjkq9R1EV+xMBntRg93jOMBjBIzRTow/D6yFQQGIUWz8I7bAfknwwY
4vWyqNaUXwKBgDPK9VOLTHYYR7X/FvzGi/faOPV4awIecK91PXKlLMAEvRblyHV2
ll51L52BPh6g4NBnu+/VvXphpdhqL+A+JyaAYVTN8JGQaYY8fyAYlhjJphGPJIo7
UVdtjdaLs5RPnzSiD+8zzCOo8R6bmER69lXOU6NNoBv65Oyo2JZLieIJAoGBAK2h
7/HgFcaHrl+3KlcLurIw38/CRB3KGc+KhRdUBipa2prOCbrNw6tU5B3CKWt112P9
ylavBPe1p8ZkztYADqhhEXmPJzJviW3AKgNaQQLVkiqBcJGom9QZwVE0Lg8jwuOh
i1lnUUA4k0ULAdCst7zRibKfAEZDh4TxagBOg4HRAoGAENKQiMBDZlevM+plZFfs
PUWw+6478ZatXMwh4uzZ2KisLFfwMKoSYU/YIv9fvjiU9ZYPy1TmiV+DIumEfuzn
yz626cmExg3QrccsRKlgQKv3MDbX1qNZdmatucrDJMR3UfFW0kalTfnfNPEcM3Eq
YnElRV61WNq1FHiVd9GPufc=
-----END PRIVATE KEY-----
-----BEGIN CERTIFICATE-----
MIIFJTCCBA2gAwIBAgISAwtGcyOBgsTljT31b1MDjhQbMA0GCSqGSIb3DQEBCwUA
MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xNzEyMjYxNTU3MjVaFw0x
ODAzMjYxNTU3MjVaMB8xHTAbBgNVBAMTFGNvbXByaWdvLXR6aWRhbmljLnRrMIIB
IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAr1RkYC+v/sDVfx9GadeZ3xa2
/aTf7qcXoESTDjV2wWctHsGQGTEAQmu8Pmft/l+wMo+8M0NtLCQQfhXxpngm/EzO
Jjy1a2+hqKJSy01TS0+Beq5SlU3N8r8w44FGjHukR826gz1DuaXyJz94Ok1D+I/j
A2kxqxZQsLm1gMua9zdsO8B+X6fqd7ADAC4Ckwdpwt1r1viFMty1C/Lsm24UG2A9
o4pdHW8HJtWkGCvtQRoNUWShrBg1BbfWlQXfLtpY9lNGxxsh78cmRJugxIRswxX5
2AEf58pV8x0G5dMxJnAJmrf+TmTlrEAJCw6wM9WJM2RZg8fkt33Wlphak9WOqQID
AQABo4ICLjCCAiowDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMB
BggrBgEFBQcDAjAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBTA1x3HHKoJUGKF2Mey
zTpeLWQUbzAfBgNVHSMEGDAWgBSoSmpjBH3duubRObemRWXv86jsoTBvBggrBgEF
BQcBAQRjMGEwLgYIKwYBBQUHMAGGImh0dHA6Ly9vY3NwLmludC14My5sZXRzZW5j
cnlwdC5vcmcwLwYIKwYBBQUHMAKGI2h0dHA6Ly9jZXJ0LmludC14My5sZXRzZW5j
cnlwdC5vcmcvMDkGA1UdEQQyMDCCFGNvbXByaWdvLXR6aWRhbmljLnRrghh3d3cu
Y29tcHJpZ28tdHppZGFuaWMudGswgf4GA1UdIASB9jCB8zAIBgZngQwBAgEwgeYG
CysGAQQBgt8TAQEBMIHWMCYGCCsGAQUFBwIBFhpodHRwOi8vY3BzLmxldHNlbmNy
eXB0Lm9yZzCBqwYIKwYBBQUHAgIwgZ4MgZtUaGlzIENlcnRpZmljYXRlIG1heSBv
bmx5IGJlIHJlbGllZCB1cG9uIGJ5IFJlbHlpbmcgUGFydGllcyBhbmQgb25seSBp
biBhY2NvcmRhbmNlIHdpdGggdGhlIENlcnRpZmljYXRlIFBvbGljeSBmb3VuZCBh
dCBodHRwczovL2xldHNlbmNyeXB0Lm9yZy9yZXBvc2l0b3J5LzANBgkqhkiG9w0B
AQsFAAOCAQEABDb8fFziGUReTG4REY8OMGSyfdNIh30fvdUm92OG7WmX+GIGENFK
nMu6+PDgjsWJ/kfHot9NaZiZ6BqzOAqP4CkmzS42eYSUINbfctfJIH33xW0YX5Pu
/1L+39pnBIPROk/BBPwC9znz+lYsCq/qFdcnhZA99w+sNJbsIDsqKkIPt6rMtjQW
LXXPOVxvaDLx5kpK2RFdCJ8hxPoxx+ZvAPPu/BCLHRRfKftqqcvU2w+2bcXGVlzn
RmEIeuW5gmI67CrH04p0KXzRhyLRKbALJqG21I/gQWa55xFOSKovIfdp7Ce5Nr0o
d5VYiHLkv0WjUEzjxHn1lxngDKxzbx5v8Q==
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
/PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
-----END CERTIFICATE-----
-----BEGIN DH PARAMETERS-----
MIIBCAKCAQEAjFqucRRGnPE7n8HCGm6gTi9qFcLiPn/BNFW2DTfF38adnqcJpe6r
+SFa5YAkkoIA4L60lm4Fv6wSrhd31FCdh5f222pSriUpj+t7SyYJ65nx7aSFWVCK
imdSzOOEechq3B8KMhH8KAnIxC/tSHiK8Zc06sU9ihm2b3hI4gT9YyEvis+lAi+J
lfu9i8dEHeJjd6AmuBcC1QZjvweFgZR0lZrAvEC6utQUiOEZelUNIfQk+0nUHvCg
RySLzqYHyUDGimkeHiDGF0Ah5z03pkYGjwvgYVupJXaDBmCgiuQkvzNAD6pVm5x/
YVkMFnziJ9gIIAnabxc2r9r5pG/gJAnsmwIBAg==
-----END DH PARAMETERS-----

