-----BEGIN CERTIFICATE-----
MIIFJTCCBA2gAwIBAgISAwtGcyOBgsTljT31b1MDjhQbMA0GCSqGSIb3DQEBCwUA
MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xNzEyMjYxNTU3MjVaFw0x
ODAzMjYxNTU3MjVaMB8xHTAbBgNVBAMTFGNvbXByaWdvLXR6aWRhbmljLnRrMIIB
IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAr1RkYC+v/sDVfx9GadeZ3xa2
/aTf7qcXoESTDjV2wWctHsGQGTEAQmu8Pmft/l+wMo+8M0NtLCQQfhXxpngm/EzO
Jjy1a2+hqKJSy01TS0+Beq5SlU3N8r8w44FGjHukR826gz1DuaXyJz94Ok1D+I/j
A2kxqxZQsLm1gMua9zdsO8B+X6fqd7ADAC4Ckwdpwt1r1viFMty1C/Lsm24UG2A9
o4pdHW8HJtWkGCvtQRoNUWShrBg1BbfWlQXfLtpY9lNGxxsh78cmRJugxIRswxX5
2AEf58pV8x0G5dMxJnAJmrf+TmTlrEAJCw6wM9WJM2RZg8fkt33Wlphak9WOqQID
AQABo4ICLjCCAiowDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMB
BggrBgEFBQcDAjAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBTA1x3HHKoJUGKF2Mey
zTpeLWQUbzAfBgNVHSMEGDAWgBSoSmpjBH3duubRObemRWXv86jsoTBvBggrBgEF
BQcBAQRjMGEwLgYIKwYBBQUHMAGGImh0dHA6Ly9vY3NwLmludC14My5sZXRzZW5j
cnlwdC5vcmcwLwYIKwYBBQUHMAKGI2h0dHA6Ly9jZXJ0LmludC14My5sZXRzZW5j
cnlwdC5vcmcvMDkGA1UdEQQyMDCCFGNvbXByaWdvLXR6aWRhbmljLnRrghh3d3cu
Y29tcHJpZ28tdHppZGFuaWMudGswgf4GA1UdIASB9jCB8zAIBgZngQwBAgEwgeYG
CysGAQQBgt8TAQEBMIHWMCYGCCsGAQUFBwIBFhpodHRwOi8vY3BzLmxldHNlbmNy
eXB0Lm9yZzCBqwYIKwYBBQUHAgIwgZ4MgZtUaGlzIENlcnRpZmljYXRlIG1heSBv
bmx5IGJlIHJlbGllZCB1cG9uIGJ5IFJlbHlpbmcgUGFydGllcyBhbmQgb25seSBp
biBhY2NvcmRhbmNlIHdpdGggdGhlIENlcnRpZmljYXRlIFBvbGljeSBmb3VuZCBh
dCBodHRwczovL2xldHNlbmNyeXB0Lm9yZy9yZXBvc2l0b3J5LzANBgkqhkiG9w0B
AQsFAAOCAQEABDb8fFziGUReTG4REY8OMGSyfdNIh30fvdUm92OG7WmX+GIGENFK
nMu6+PDgjsWJ/kfHot9NaZiZ6BqzOAqP4CkmzS42eYSUINbfctfJIH33xW0YX5Pu
/1L+39pnBIPROk/BBPwC9znz+lYsCq/qFdcnhZA99w+sNJbsIDsqKkIPt6rMtjQW
LXXPOVxvaDLx5kpK2RFdCJ8hxPoxx+ZvAPPu/BCLHRRfKftqqcvU2w+2bcXGVlzn
RmEIeuW5gmI67CrH04p0KXzRhyLRKbALJqG21I/gQWa55xFOSKovIfdp7Ce5Nr0o
d5VYiHLkv0WjUEzjxHn1lxngDKxzbx5v8Q==
-----END CERTIFICATE-----

